.body {
  background-image: url(https://plus.unsplash.com/premium_photo-1715332700320-532dd45eb04d?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.odin {
  border: 0.4rem solid #333333;
  background-color: #f1ca96;
  text-align: center;
  padding: 0 3%;
  margin: 20vh 30vw;
  opacity: 0.85;
}

.ul li {
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
}

.ul {
  padding: 0;
  line-height: 4rem;
}

a {
  color: black;
  font-size: 2rem;
}

.h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 5rem;
  margin: 0.5em 0;
}

.line-break {
  background-color: rgb(102, 70, 28);
  height: 0.3rem;
}




/* Styles for adobo.html below */

.body-adobo{
  margin: 0;
}

.main{
  background-color: #f1ca96;
  padding: 2%;
  width: 100%;
  height: 100%;
}

.adobo{
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
}

.adobo img{
  width: 500px;
  margin-bottom: 0;
  padding-top: 1em;
}

.adobo h1{
  margin-top: 0;
  margin-bottom: 0%;
  font-size: 3.3rem;
}

.lower-part{
  margin-left: 30%;
  margin-right: 30%;
}

.description {
  text-align: center;
  margin: 0 15%;
  line-height: 1.8em;
}

.description h2{
  font-size: 2em;
}

.divider-description{
  border: .2em solid darkred;
}

.div-container{
  padding: 0 20%;
}

.lower-part h3{
  font-size: 1.7em;
}

.ing-steps{
  line-height: 1.3em;
  margin: 0 14%;
}

/* Styles for pizza.html below */

.pizza-body{
  background-color: rgb(245, 192, 132);
  margin: 2% 25%;
  min-width: 600px;
}

.container{
  border: .4em solid #333333;
  background-color: #f5d5ab;
}

.figure{
  text-align: center;
}

.description{
  text-align: center;
}

.linebreak{
  border: .2em solid darkred;
}

.br-container{
  padding: 0 5%;
}

.low-part{
  padding: 0 5%;
  line-height: 1.5em;
}


/* Styles for Sinigang :) */

.body-sinigang {
  background-image: url(https://images.unsplash.com/photo-1591189863430-ab87e120f312?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.main-container {
  background-color: antiquewhite;
  border: 2px solid black;
  margin: 3% 20%;
  padding: 2% 3%;
}

.header-sinigang {
  text-align: center;
  margin-bottom: 1%;
  border-bottom: .3em ridge darkred;
}

.sinigang-ingr {
  width: 47%;
  display: inline-block;
}

.steps{
  display: inline-block;
  width: 52%;
  vertical-align: top;
}

.steps h3, .sinigang-ingr h3{
  text-align: center;
}

.sinigang-ingr ul{
  padding-left: 23%;
}

.footer-sinigang {
  line-height: 2em;
}